   html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-button-next, .swiper-button-prev {
      color: white;
      margin-right: 15px;
    }

    @media screen and (max-width: 1375px) {
        .swiper-button-next, .swiper-button-prev {
      display: none;
    }
    }