html,
body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  margin-right: 15px;
}

@media screen and (max-width: 1375px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
